@using MusicLibrary.Helpers

<div class="card">
    <div class="card-content">
        @Html.ActionButton("Back", "Index")
        <input type="submit" name="ok" value="Ok" class="waves-effect waves-light btn" />
        @(ViewBag.Message ?? "")
    </div>
</div>
