@using MusicLibrary.Helpers
@model IEnumerable<MusicLibrary.DAL.Tag>
@using (Html.BeginForm("Index", ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Get))
{
    <div class="card">
        <div class="card-content">
            <div class="input-field inline"><input name="search" type="text" placeholder="search" /></div>
            <button type="submit" class="waves-effect waves-light btn"><i class="material-icons small">search</i></button>
            @Html.ActionButton("Clean unused tags", "Clean")
        </div>
    </div>
}

<table class="striped responsive-table">
    <tr>
        <th>Name @Html.SortButtons("name")</th>
        <th>Albums</th>
    </tr>
    @foreach (var tag in Model)
    {
        <tr>
            <td>@tag.Name</td>
            <td>@Html.ActionButton("Albums", "Albums", new { Id = tag.Id })</td>
        </tr>
    }
</table>