@model MusicLibrary.Models.ArtistViewModel
@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>Name</th>
            <td><input name="name" type="text" /></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea name="description"></textarea></td>
        </tr>
        <tr>
            <th>Last.fm link</th>
            <td><input name="lastFmUrl" type="text" /></td>
        </tr>
    </table>
    <input type="submit" name="delete" value="Add" class="btn btn-default" />
    @(ViewBag.Message ?? "")
}
@Html.ActionLink("Back", "Index")