@model MusicLibrary.Models.ArtistViewModel
@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>Name</th>
            <td><input name="name" type="text" value="@Model.Name" /></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea name="description">@Model.Description</textarea></td>
        </tr>
        <tr>
            <th>Last.fm link</th>
            <td><input name="lastFmUrl" type="text" value="@Model.LastFmUrl" /></td>
        </tr>
    </table>
    <input type="submit" name="save" value="Save" class="btn btn-default" />
    @(ViewBag.Errors ?? "")
}
