@model MusicLibrary.Models.AddAlbumViewModel
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" name="title" type="text" />
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    @Html.DropDownListFor(x => x.AuthorId, new SelectList(Model.Artists, "Id", "Name"))
                    <label for="AuthorId">Artist</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="year" name="year" type="text" />
                    <label for="year">Year</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="lastFmUrl" name="lastFmUrl" type="text" />
                    <label for="lastFmUrl">Last.fm link</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="tags" name="tags" type="text" />
                    <label for="tags">Tags</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="tracklist" name="tracklist" class="materialize-textarea"></textarea>
                    <label for="tracklist">Tracklist</label>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("AddBar")
}

