<div class="card">
    <div class="card-content">
        <a href="/artists"><h4>Artists</h4></a>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <a href="/albums"><h4>Albums</h4></a>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <a href="/tags"><h4>Tags</h4></a>
    </div>
</div>
